.banner {
  background-image: url("../Image/contact.jpg");
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: space-evenly;
}
.container > .addressContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
}
.addressContainer > .heading{
    font-size: larger;
    font-weight: 600;
    margin-top: 25px;
}
.addressContainer > .heading > h2{

}
.addressContainer >.address{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.addressContainer >.address > .details{
    display: flex;
    flex-direction: row;
    gap: 2em;
}
.addressContainer >.address > .details >.icon{
    
}
.addressContainer >.address > .details >.icon > i{
    
}
.addressContainer >.address > .details >.content{
    
}
.addressContainer >.address > .details >.content > .mainContent{
    font-size: larger;
    font-weight: 600;
    font-family: math;
}
.addressContainer >.address > .details >.content > .subContent{
    
}
.container > .contactUsContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
} 
.contactUsContainer > .heading {
    font-size: larger;
    font-weight: 600;
    margin-top: 25px;
}
.contactUsContainer > .heading > h2 {
    

}
.contactUsContainer >.contact-us{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contactUsContainer >.contact-us > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}
.contactUsContainer >.contact-us > div > label{

}
.contactUsContainer >.contact-us > div > input , textarea{
    padding: 25px;
    border-radius: 6px;
    box-shadow: inset -3px -6px 1px 1px #ffa8a8;
    border: 2px solid pink;

}

.contactUsContainer >.contact-us > .nameContainer{
    width: 49%;
}
.contactUsContainer >.contact-us > .nameContainer > label{
    
}
.contactUsContainer >.contact-us > .nameContainer > input{
    
}
.contactUsContainer >.contact-us > .contactContainer{
    width: 49%;
}
.contactUsContainer >.contact-us > .contactContainer > label{
    
}
.contactUsContainer >.contact-us > .contactContainer > input{
    
}
.contactUsContainer >.contact-us > .emailContainer{
    
}
.contactUsContainer >.contact-us > .emailContainer > label{
    
}
.contactUsContainer >.contact-us > .emailContainer > input{
    
}
.contactUsContainer >.contact-us > .messageContainer{
    
}
.contactUsContainer >.contact-us > .messageContainer > label{
    
}
.contactUsContainer >.contact-us > .messageContainer > textarea{
    
}
.contactUsContainer >.contact-us > .submitBtn{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-end;
    margin-bottom: 25px; 
}
.contactUsContainer >.contact-us > .submitBtn > button{
    
    padding: 13px 30px;
    border-radius: 30px;
    background: #ffaeae;
    font-weight: bolder;
    font-size: 15px;
    border: 2px solid pink;
    box-shadow: 6px 7px 3px 1px #ff5170;
}


}