/* .navbar{
    height: 100px;
    width: auto;
    background-color: black;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;

}
li{
    display: inline;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;

}
.first{
    margin-inline: 2px;
} */
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 1em;
}
.navbar > div{
    display: flex;

}
.navbar > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 1em;
}

.navbar > ul > li{
text-decoration: none;
}

.navbar > ul > li > a{
    text-decoration: none;
    }