*{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 100px;
    width: auto;
    background-color: black;
    margin-top: -16px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;

}
li{
    display: inline;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;

}
.first{
    margin-inline: 2px;
} 
*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 1em;
}
.navbar > div{
    display: flex;

}
.navbar > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    gap: 1em;
}

.navbar > ul > li{
text-decoration: none;
}

.navbar > ul > li > a{
    text-decoration: none;
    }
.hero-sec{
    background-image: url("./hero.jpg");
    background-size: cover;
    height: 600px;  
    color: red; 
}
.heading{
    color: red;
    /*display: flex;
    justify-content: center;*/
    text-align: center;


}   
h2{
    color: black;
    font-weight: 2px;
}
p{
    color: black;
    font-size: 20px;
    font-style: italic;
}
.para-container{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    
}
.paragraph{
    text-align: justify;
}
